body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.resume {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: white;
}

/* LEFT */
.left {
    width: 40%;
    padding: 30px;
    background: #f8f8f8;
    position: relative;
}

.profile-img img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
}

.vertical-text {
    position: absolute;
    left: -50px;
    top: 200px;
    transform: rotate(-90deg);
    font-size: 40px;
    letter-spacing: 5px;
    color: #333;
}

.left h3 {
    border-bottom: 2px solid #4a6fa5;
    padding-bottom: 5px;
    margin-top: 25px;
}

.left ul {
    padding-left: 20px;
}

/* RIGHT */
.right {
    width: 60%;
    padding: 40px;
}

.right h1 {
    margin: 0;
    font-size: 36px;
}

.position {
    color: #4a6fa5;
    margin-bottom: 20px;
}

.right h3 {
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.right ul {
    padding-left: 20px;
}
